__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.env
*.pem
*.key
ml/models/*
!ml/models/.gitkeep
data/
*.csv
*.parquet
orchestration/dags/__pycache__/
logs/
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
.vscode/
.idea/
.DS_Store